* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: white;
    --cor1: #6e8c03;
    --cor2: #f2cb57;
    --cor3: #F27405;
    --cor4: #734A32;
    --cor5: #BF0404;
    --cor6: black;

    --font-titulo: 'Alkatra', cursive;
    --font-sub: 'Arapey', serif;
    --font-p: 'Inter', sans-serif;
}

html, body {
    font-family: sans-serif;
}
/* página inicial */
nav {
    height: 60px;
    background-color: var(--cor0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.295);
    display: flex;
    justify-content: flex-end;
}
nav > a {
    text-decoration: none;
    color: var(--cor4);
    margin: 20px;
}
nav > a:hover {
    background-color: var(--cor3);
    margin: 20px;

}
header {
    height: 100vh;
    width: 98.75vw;
    background-color: var(--cor1);
    background-image: url("/img/salada-fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
section.titulos {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
h1 {
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 2.7em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #0000004b;
}
h2 {
    text-align: center;
    font-family: var(--font-sub);
    font-size: 2.8em;
    font-weight: lighter;
}
section.subtitulos {
    margin-top: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 70px 70px;
    grid-template-areas: 
        "p_um p_dois"
        "button_um button_dois"
    ;
    gap: 45px 140px;
}
/* p dos substítulos */
p.subtitulo {
    font-family: var(--font-p);
    font-size: 20px;
    font-weight: bolder;
    height: fit-content;
    border-top: solid 1px var(--cor6);
    padding-top: 15px;
}
.t_um {
    grid-area: p_um;
    text-align: right;
    justify-self: end;
}
.t_dois {
    grid-area: p_dois;
    text-align: left;
    justify-self: start;
}
/* button dos subtitulos */
.button_opcoes {
    background-color: var(--cor3);
    border-radius: 17px;
    width: 221px;
    height: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    border: none;
    cursor: pointer;
}
button.saladas {
    background-color: var(--cor6);
    grid-area: button_um;
    justify-self: end;
}
button.saladas > a {
    color: var(--cor0);
}
button.ingredientes {
    background-color: var(--cor0);
    grid-area: button_dois;
    justify-self: start;
}
button.ingrediente > a {
    color: var(--cor6);
}
.button_opcoes > a {
    font-family: var(--font-sub);
    font-size: 25px;
    text-decoration: none;
}
main {
    margin: auto;
    width: 70vw;
    height: 800px;
}
section.textos {
    /* background-color: #6e8c03; */
    height: auto;
    width: 60vw;
    padding-top: 4rem;
    margin: auto;
    text-align: justify;
}
p {
    font-family: var(--font-p);
    font-size: 1em;
    margin-bottom: 1rem;
}
.ingrediente, .salada {
    box-shadow: 1px 2px 4px 0px #c9c8c84f;
    padding: 2rem;
    align-items: center;
    display: flex;
    height: 50px;
    width: 350px;
    border-radius: 46px 0px;
    margin: 8px auto;
}
.ingrediente:hover, .salada:hover {
    background-color: var(--cor2);
    box-shadow: 1px 2px 4px 0px #8f8f8f91;
}
.ingrediente img, .salada img {
    height: 5rem;
}
.ingrediente p, .salada p {
    margin-left: 1rem;
    font-family: var(--font-p);
}
/* pagina secundaria */
header.header-secundario {
    height: 300px;
}
main#tudo {
    margin: auto;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-areas: "prateleiras cesta";

}
section#prateleiras {
    grid-area: prateleiras;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section#cesta {
    grid-area: cesta;
}
h3 {
    text-align: center;
}
/* section#container-saladas, section#container-ingredientes {
    margin-bottom: 25px;
} */