* { 
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif;
}
h1 {
    margin: 4rem 0;
    text-transform: uppercase;
    text-align: center;
}
.ingrediente {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 2rem;
    align-items: center;
    display: flex;
}
.ingrediente img {
    height: 5rem;
}
.ingrediente p {
    margin-left: 1rem;
}