* { 
    margin: 0;
    padding: 0;
}

:root {
    --cor0: white;
    --cor1: #6e8c03;
    --cor2: #f2cb57;
    --cor3: #F27405;
    --cor4: #734A32;
    --cor5: #BF0404;
    
    --font-titulo: 'Alkatra', cursive;
    --font-sub: 'Arapey', serif;
    --font-p: 'Inter', sans-serif;
}

html, body {
    font-family: sans-serif; 
}
/* página inicial */
nav {
    height: 56px;
    background-color: var(--cor0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.295);
    display: flex;
    justify-content: flex-end;
}
nav > a {
    text-decoration: none;
    color: var(--cor4);
    margin: 20px 20px 0px 20px;
}
nav > a:hover {
    background-color: var(--cor3);
}
header {
    text-align: center;
    height: 70VH;
    width: 98vw;
    background-color: var(--cor1);
    background-image: url("/img/salada-fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
section.titulos {
    /* background-color: #734A32; */
    margin-top: calc(10vh); /*metade da altura do header*/
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
h1 {
    font-family: var(--font-titulo);
    font-size: 2.7rem;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #0000004b;
}
h2 {
    font-family: var(--font-sub);
    font-size: 2.8rem;
    font-weight: lighter;
}
section.subtitulos {
    margin-top: 15vh;
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    /* gap: 2vw; */
}
div.daSalada {
    font-family: var(--font-p);
    font-size: 1.5rem;
    text-align: right;
    width: 15vw;
}
div.doIngrediente  {
    font-family: var(--font-p);
    font-size: 1.5rem;
    text-align: left;
    width: 15vw;
}
main {
    /* border: solid 1px rgba(0,0,0,0.1); */
    /* background-color: var(--cor2); */
    margin: auto;
    width: 70vw;
    height: 800px;
}
section.textos {
    /* background-color: #6e8c03; */
    height: auto;
    width: 60vw;
    padding-top: 4rem;
    margin: auto;
    text-align: justify;
}
p {
    font-family: var(--font-p);
    font-size: 1em;
    margin-bottom: 1rem;
}
.ingrediente, .salada {
    box-shadow: 1px 2px 4px 0px #c9c8c84f;
    padding: 2rem;
    align-items: center;
    display: flex;
    height: 50px;
    width: 350px;
    border-radius: 46px 0px;
    margin: 8px auto;
}
.ingrediente:hover, .salada:hover {
    background-color: var(--cor2);
    box-shadow: 1px 2px 4px 0px #8f8f8f91;
}
.ingrediente img, .salada img {
    height: 5rem;
}
.ingrediente p, .salada p {
    margin-left: 1rem;
    font-family: var(--font-p);
}
